body {
    background-image: url(/my-personal-website/images/white-background.avif);
    background-attachment: fixed;
    background-size: cover;
}

/* Navigation bar*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: url(/my-personal-website/images/black-background.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 80px;
    top: 0;
    position: sticky;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
}

#navbar-logo{
    background-color: rgb(132, 16, 145); 
    background-image: linear-gradient(to top, rgb(129, 16, 120) 0%, rgb(220, 159, 234) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: rgb(138, 41, 137);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;

}

.navbar-links:hover {
    color: aliceblue;
    transition: all 0.3s ease;
}

/*Home page images*/
.selfimage {
height: 700px;
position:fixed;
right: 0;
z-index: -1;
}

.image-container {
display: flex;
justify-content: flex-end;
align-items: first baseline;
}


/*Porfolio page images*/
.workshot {
    display:block ;
    justify-content:center;
    height:220px;
    width: auto;
    padding: 10px;
    margin: 10px;
}

/*About page images*/
.workshot2 {
    display: flex;
    justify-content: center;
    align-content:center;
    height:400px;
    width: auto;
    padding: 10px;
    margin: 10px;
}

/*Content*/
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1.6px rgb(210, 139, 238);
    color: rgb(231, 197, 244);
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding: 15px;
    border: 10px;
    margin: 10px;
}

h2 {
    color: rgb(210, 139, 238);
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

h3 {
    color: white; 
    display: flex;
    font-size: 24px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.text {
    color: rgb(133, 60, 143);
    display: flex;
    justify-content:center;
    padding: px;
    margin: 2px;

}

.block {
    background-color: rgba(213, 187, 223, 0.386);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    border: 2.5px solid rgb(210, 139, 238);   
    margin: 20px;
}

.home-block {
    background-color: rgba(213, 187, 223, 0.386);
    display:flex; 
    justify-content:left;
    align-items:flex-start;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 2.5px solid rgb(210, 139, 238);   
    margin: 20px;
}

.home-title {
    left: 0;
    justify-content: space-between;
    align-items:center;

}

.author {
    justify-content:right;
    align-items:end;
}
